<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="tblAccessions-ID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ID)%%></td>
		<td id="tblAccessions-EntityID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(EntityID)%%></td>
		<td id="tblAccessions-MediumTypeID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(MediumTypeID)%%></td>
		<td id="tblAccessions-ContentTypeID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ContentTypeID)%%></td>
		<td id="tblAccessions-CaptionText-<%%VALUE(ID)%%>" class=""><%%VALUE(CaptionText)%%></td>
		<td id="tblAccessions-URL-<%%VALUE(ID)%%>" class=""><%%VALUE(URL)%%></td>
		<td id="tblAccessions-SourceID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(SourceID)%%></td>
		<td id="tblAccessions-Credits-<%%VALUE(ID)%%>" class=""><%%VALUE(Credits)%%></td>
		<td id="tblAccessions-ContributorID-<%%VALUE(ID)%%>" class=""><%%VALUE(ContributorID)%%></td>
		<td id="tblAccessions-StyleID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(StyleID)%%></td>
		<td id="tblAccessions-CountryID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(CountryID)%%></td>
		<td id="tblAccessions-CreationDate-<%%VALUE(ID)%%>" class=""><%%VALUE(CreationDate)%%></td>
		<td id="tblAccessions-AccessionEntryDate-<%%VALUE(ID)%%>" class=""><%%VALUE(AccessionEntryDate)%%></td>
		<td id="tblAccessions-ApprovalID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ApprovalID)%%></td>
		<td id="tblAccessions-Comments-<%%VALUE(ID)%%>" class=""><%%VALUE(Comments)%%></td>
		<td id="tblAccessions-Online-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Online)%%></td>
