<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'tblAccessions_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="tblAccessions-ID-<%%VALUE(ID)%%>" class="tblAccessions-ID text-right"><%%SELECT%%><%%VALUE(ID)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-EntityID-<%%VALUE(ID)%%>" class="tblAccessions-EntityID text-right"><%%SELECT%%><%%VALUE(EntityID)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-MediumTypeID-<%%VALUE(ID)%%>" class="tblAccessions-MediumTypeID text-right"><%%SELECT%%><%%VALUE(MediumTypeID)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-ContentTypeID-<%%VALUE(ID)%%>" class="tblAccessions-ContentTypeID text-right"><%%SELECT%%><%%VALUE(ContentTypeID)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-CaptionText-<%%VALUE(ID)%%>" class="tblAccessions-CaptionText "><%%SELECT%%><%%VALUE(CaptionText)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-URL-<%%VALUE(ID)%%>" class="tblAccessions-URL "><%%SELECT%%><%%VALUE(URL)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-SourceID-<%%VALUE(ID)%%>" class="tblAccessions-SourceID text-right"><%%SELECT%%><%%VALUE(SourceID)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-Credits-<%%VALUE(ID)%%>" class="tblAccessions-Credits "><%%SELECT%%><%%VALUE(Credits)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-ContributorID-<%%VALUE(ID)%%>" class="tblAccessions-ContributorID "><%%SELECT%%><%%VALUE(ContributorID)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-StyleID-<%%VALUE(ID)%%>" class="tblAccessions-StyleID text-right"><%%SELECT%%><%%VALUE(StyleID)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-CountryID-<%%VALUE(ID)%%>" class="tblAccessions-CountryID text-right"><%%SELECT%%><%%VALUE(CountryID)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-CreationDate-<%%VALUE(ID)%%>" class="tblAccessions-CreationDate "><%%SELECT%%><%%VALUE(CreationDate)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-AccessionEntryDate-<%%VALUE(ID)%%>" class="tblAccessions-AccessionEntryDate "><%%SELECT%%><%%VALUE(AccessionEntryDate)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-ApprovalID-<%%VALUE(ID)%%>" class="tblAccessions-ApprovalID text-right"><%%SELECT%%><%%VALUE(ApprovalID)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-Comments-<%%VALUE(ID)%%>" class="tblAccessions-Comments "><%%SELECT%%><%%VALUE(Comments)%%><%%ENDSELECT%%></td>
		<td id="tblAccessions-Online-<%%VALUE(ID)%%>" class="tblAccessions-Online text-right"><%%SELECT%%><%%VALUE(Online)%%><%%ENDSELECT%%></td>
