<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="tblContributors-ID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ID)%%></td>
		<td id="tblContributors-FName-<%%VALUE(ID)%%>" class=""><%%VALUE(FName)%%></td>
		<td id="tblContributors-LName-<%%VALUE(ID)%%>" class=""><%%VALUE(LName)%%></td>
		<td id="tblContributors-Email-<%%VALUE(ID)%%>" class=""><a href="mailto:<%%VALUE(Email)%%>" title="<%%VALUE(Email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="tblContributors-PW-<%%VALUE(ID)%%>" class=""><%%VALUE(PW)%%></td>
		<td id="tblContributors-Organization-<%%VALUE(ID)%%>" class=""><%%VALUE(Organization)%%></td>
		<td id="tblContributors-ScopeID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ScopeID)%%></td>
		<td id="tblContributors-ParentID-<%%VALUE(ID)%%>" class=""><%%VALUE(ParentID)%%></td>
		<td id="tblContributors-AdminLevel-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(AdminLevel)%%></td>
		<td id="tblContributors-CreationDate-<%%VALUE(ID)%%>" class=""><%%VALUE(CreationDate)%%></td>
		<td id="tblContributors-ExpirationDate-<%%VALUE(ID)%%>" class=""><%%VALUE(ExpirationDate)%%></td>
		<td id="tblContributors-LastAccessDate-<%%VALUE(ID)%%>" class=""><%%VALUE(LastAccessDate)%%></td>
		<td id="tblContributors-Online-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Online)%%></td>
