<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'tblEntities_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="tblEntities-ID-<%%VALUE(ID)%%>" class="tblEntities-ID text-right"><%%SELECT%%><%%VALUE(ID)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-FName-<%%VALUE(ID)%%>" class="tblEntities-FName "><%%SELECT%%><%%VALUE(FName)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-LName-<%%VALUE(ID)%%>" class="tblEntities-LName "><%%SELECT%%><%%VALUE(LName)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-Birth-<%%VALUE(ID)%%>" class="tblEntities-Birth "><%%SELECT%%><%%VALUE(Birth)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-Death-<%%VALUE(ID)%%>" class="tblEntities-Death "><%%SELECT%%><%%VALUE(Death)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-DirectoryPath-<%%VALUE(ID)%%>" class="tblEntities-DirectoryPath "><%%SELECT%%><%%VALUE(DirectoryPath)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-PrimaryGIID-<%%VALUE(ID)%%>" class="tblEntities-PrimaryGIID text-right"><%%SELECT%%><%%VALUE(PrimaryGIID)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-BioDescrGIID-<%%VALUE(ID)%%>" class="tblEntities-BioDescrGIID text-right"><%%SELECT%%><%%VALUE(BioDescrGIID)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-ImageURL-<%%VALUE(ID)%%>" class="tblEntities-ImageURL "><%%SELECT%%><%%VALUE(ImageURL)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-ImageCaption-<%%VALUE(ID)%%>" class="tblEntities-ImageCaption "><%%SELECT%%><%%VALUE(ImageCaption)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-PrimaryAccessionID-<%%VALUE(ID)%%>" class="tblEntities-PrimaryAccessionID text-right"><%%SELECT%%><%%VALUE(PrimaryAccessionID)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-TemplateID-<%%VALUE(ID)%%>" class="tblEntities-TemplateID text-right"><%%SELECT%%><%%VALUE(TemplateID)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-Online-<%%VALUE(ID)%%>" class="tblEntities-Online text-right"><%%SELECT%%><%%VALUE(Online)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-CreationDate-<%%VALUE(ID)%%>" class="tblEntities-CreationDate "><%%SELECT%%><%%VALUE(CreationDate)%%><%%ENDSELECT%%></td>
		<td id="tblEntities-NewDesignationExpirationn-<%%VALUE(ID)%%>" class="tblEntities-NewDesignationExpirationn "><%%SELECT%%><%%VALUE(NewDesignationExpirationn)%%><%%ENDSELECT%%></td>
