<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="tblEntities-ID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ID)%%></td>
		<td id="tblEntities-FName-<%%VALUE(ID)%%>" class=""><%%VALUE(FName)%%></td>
		<td id="tblEntities-LName-<%%VALUE(ID)%%>" class=""><%%VALUE(LName)%%></td>
		<td id="tblEntities-Birth-<%%VALUE(ID)%%>" class=""><%%VALUE(Birth)%%></td>
		<td id="tblEntities-Death-<%%VALUE(ID)%%>" class=""><%%VALUE(Death)%%></td>
		<td id="tblEntities-DirectoryPath-<%%VALUE(ID)%%>" class=""><%%VALUE(DirectoryPath)%%></td>
		<td id="tblEntities-PrimaryGIID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(PrimaryGIID)%%></td>
		<td id="tblEntities-BioDescrGIID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(BioDescrGIID)%%></td>
		<td id="tblEntities-ImageURL-<%%VALUE(ID)%%>" class=""><%%VALUE(ImageURL)%%></td>
		<td id="tblEntities-ImageCaption-<%%VALUE(ID)%%>" class=""><%%VALUE(ImageCaption)%%></td>
		<td id="tblEntities-PrimaryAccessionID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(PrimaryAccessionID)%%></td>
		<td id="tblEntities-TemplateID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(TemplateID)%%></td>
		<td id="tblEntities-Online-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Online)%%></td>
		<td id="tblEntities-CreationDate-<%%VALUE(ID)%%>" class=""><%%VALUE(CreationDate)%%></td>
		<td id="tblEntities-NewDesignationExpirationn-<%%VALUE(ID)%%>" class=""><%%VALUE(NewDesignationExpirationn)%%></td>
