<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="tblGalleries-ID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ID)%%></td>
		<td id="tblGalleries-Title-<%%VALUE(ID)%%>" class=""><%%VALUE(Title)%%></td>
		<td id="tblGalleries-Summary-<%%VALUE(ID)%%>" class=""><%%VALUE(Summary)%%></td>
		<td id="tblGalleries-HeaderImageURL-<%%VALUE(ID)%%>" class=""><%%VALUE(HeaderImageURL)%%></td>
		<td id="tblGalleries-HeaderImageLinkURL-<%%VALUE(ID)%%>" class=""><%%VALUE(HeaderImageLinkURL)%%></td>
		<td id="tblGalleries-EntityID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(EntityID)%%></td>
		<td id="tblGalleries-GIContentTypeID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(GIContentTypeID)%%></td>
		<td id="tblGalleries-ContributorID-<%%VALUE(ID)%%>" class=""><%%VALUE(ContributorID)%%></td>
		<td id="tblGalleries-ThumbURL-<%%VALUE(ID)%%>" class=""><%%VALUE(ThumbURL)%%></td>
		<td id="tblGalleries-CaptionText-<%%VALUE(ID)%%>" class=""><%%VALUE(CaptionText)%%></td>
		<td id="tblGalleries-TemplateURL-<%%VALUE(ID)%%>" class=""><%%VALUE(TemplateURL)%%></td>
		<td id="tblGalleries-ItemDisplayLimit-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ItemDisplayLimit)%%></td>
		<td id="tblGalleries-URL-<%%VALUE(ID)%%>" class=""><%%VALUE(URL)%%></td>
		<td id="tblGalleries-EmbedShowPlayer-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(EmbedShowPlayer)%%></td>
		<td id="tblGalleries-Online-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Online)%%></td>
		<td id="tblGalleries-Sort-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Sort)%%></td>
