<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'tblGalleryItems_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="tblGalleryItems-ID-<%%VALUE(ID)%%>" class="tblGalleryItems-ID text-right"><%%SELECT%%><%%VALUE(ID)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-ParentGalleryID-<%%VALUE(ID)%%>" class="tblGalleryItems-ParentGalleryID "><%%SELECT%%><%%VALUE(ParentGalleryID)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-SubGalleryID-<%%VALUE(ID)%%>" class="tblGalleryItems-SubGalleryID text-right"><%%SELECT%%><%%VALUE(SubGalleryID)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-GIContentTypeID-<%%VALUE(ID)%%>" class="tblGalleryItems-GIContentTypeID "><%%SELECT%%><%%VALUE(GIContentTypeID)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-PageTitle-<%%VALUE(ID)%%>" class="tblGalleryItems-PageTitle "><%%SELECT%%><%%VALUE(PageTitle)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-ThumbURL-<%%VALUE(ID)%%>" class="tblGalleryItems-ThumbURL "><%%SELECT%%><%%VALUE(ThumbURL)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-ThumbAltText-<%%VALUE(ID)%%>" class="tblGalleryItems-ThumbAltText "><%%SELECT%%><%%VALUE(ThumbAltText)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-CSSClearBothAfter-<%%VALUE(ID)%%>" class="tblGalleryItems-CSSClearBothAfter text-right"><%%SELECT%%><%%VALUE(CSSClearBothAfter)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-MenuTitle-<%%VALUE(ID)%%>" class="tblGalleryItems-MenuTitle "><%%SELECT%%><%%VALUE(MenuTitle)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-CaptionText-<%%VALUE(ID)%%>" class="tblGalleryItems-CaptionText "><%%SELECT%%><%%VALUE(CaptionText)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-URL-<%%VALUE(ID)%%>" class="tblGalleryItems-URL "><%%SELECT%%><%%VALUE(URL)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-Online-<%%VALUE(ID)%%>" class="tblGalleryItems-Online text-right"><%%SELECT%%><%%VALUE(Online)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-HomepageFeaturedSort-<%%VALUE(ID)%%>" class="tblGalleryItems-HomepageFeaturedSort text-right"><%%SELECT%%><%%VALUE(HomepageFeaturedSort)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-Sort-<%%VALUE(ID)%%>" class="tblGalleryItems-Sort text-right"><%%SELECT%%><%%VALUE(Sort)%%><%%ENDSELECT%%></td>
		<td id="tblGalleryItems-BioDescrPage-<%%VALUE(ID)%%>" class="tblGalleryItems-BioDescrPage text-right"><%%SELECT%%><%%VALUE(BioDescrPage)%%><%%ENDSELECT%%></td>
