<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="tblGalleryItems-ID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ID)%%></td>
		<td id="tblGalleryItems-ParentGalleryID-<%%VALUE(ID)%%>" class=""><%%VALUE(ParentGalleryID)%%></td>
		<td id="tblGalleryItems-SubGalleryID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(SubGalleryID)%%></td>
		<td id="tblGalleryItems-GIContentTypeID-<%%VALUE(ID)%%>" class=""><%%VALUE(GIContentTypeID)%%></td>
		<td id="tblGalleryItems-PageTitle-<%%VALUE(ID)%%>" class=""><%%VALUE(PageTitle)%%></td>
		<td id="tblGalleryItems-ThumbURL-<%%VALUE(ID)%%>" class=""><%%VALUE(ThumbURL)%%></td>
		<td id="tblGalleryItems-ThumbAltText-<%%VALUE(ID)%%>" class=""><%%VALUE(ThumbAltText)%%></td>
		<td id="tblGalleryItems-CSSClearBothAfter-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(CSSClearBothAfter)%%></td>
		<td id="tblGalleryItems-MenuTitle-<%%VALUE(ID)%%>" class=""><%%VALUE(MenuTitle)%%></td>
		<td id="tblGalleryItems-CaptionText-<%%VALUE(ID)%%>" class=""><%%VALUE(CaptionText)%%></td>
		<td id="tblGalleryItems-URL-<%%VALUE(ID)%%>" class=""><%%VALUE(URL)%%></td>
		<td id="tblGalleryItems-Online-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Online)%%></td>
		<td id="tblGalleryItems-HomepageFeaturedSort-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(HomepageFeaturedSort)%%></td>
		<td id="tblGalleryItems-Sort-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Sort)%%></td>
		<td id="tblGalleryItems-BioDescrPage-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(BioDescrPage)%%></td>
