<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'tblGalleries_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="tblGalleries-ID-<%%VALUE(ID)%%>" class="tblGalleries-ID text-right"><%%SELECT%%><%%VALUE(ID)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-Title-<%%VALUE(ID)%%>" class="tblGalleries-Title "><%%SELECT%%><%%VALUE(Title)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-Summary-<%%VALUE(ID)%%>" class="tblGalleries-Summary "><%%SELECT%%><%%VALUE(Summary)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-HeaderImageURL-<%%VALUE(ID)%%>" class="tblGalleries-HeaderImageURL "><%%SELECT%%><%%VALUE(HeaderImageURL)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-HeaderImageLinkURL-<%%VALUE(ID)%%>" class="tblGalleries-HeaderImageLinkURL "><%%SELECT%%><%%VALUE(HeaderImageLinkURL)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-EntityID-<%%VALUE(ID)%%>" class="tblGalleries-EntityID text-right"><%%SELECT%%><%%VALUE(EntityID)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-GIContentTypeID-<%%VALUE(ID)%%>" class="tblGalleries-GIContentTypeID text-right"><%%SELECT%%><%%VALUE(GIContentTypeID)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-ContributorID-<%%VALUE(ID)%%>" class="tblGalleries-ContributorID "><%%SELECT%%><%%VALUE(ContributorID)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-ThumbURL-<%%VALUE(ID)%%>" class="tblGalleries-ThumbURL "><%%SELECT%%><%%VALUE(ThumbURL)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-CaptionText-<%%VALUE(ID)%%>" class="tblGalleries-CaptionText "><%%SELECT%%><%%VALUE(CaptionText)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-TemplateURL-<%%VALUE(ID)%%>" class="tblGalleries-TemplateURL "><%%SELECT%%><%%VALUE(TemplateURL)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-ItemDisplayLimit-<%%VALUE(ID)%%>" class="tblGalleries-ItemDisplayLimit text-right"><%%SELECT%%><%%VALUE(ItemDisplayLimit)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-URL-<%%VALUE(ID)%%>" class="tblGalleries-URL "><%%SELECT%%><%%VALUE(URL)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-EmbedShowPlayer-<%%VALUE(ID)%%>" class="tblGalleries-EmbedShowPlayer text-right"><%%SELECT%%><%%VALUE(EmbedShowPlayer)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-Online-<%%VALUE(ID)%%>" class="tblGalleries-Online text-right"><%%SELECT%%><%%VALUE(Online)%%><%%ENDSELECT%%></td>
		<td id="tblGalleries-Sort-<%%VALUE(ID)%%>" class="tblGalleries-Sort text-right"><%%SELECT%%><%%VALUE(Sort)%%><%%ENDSELECT%%></td>
