<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="tblNavMenu-ID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ID)%%></td>
		<td id="tblNavMenu-Label-<%%VALUE(ID)%%>" class=""><%%VALUE(Label)%%></td>
		<td id="tblNavMenu-HierarchyLevel-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(HierarchyLevel)%%></td>
		<td id="tblNavMenu-URL-<%%VALUE(ID)%%>" class=""><%%VALUE(URL)%%></td>
		<td id="tblNavMenu-Online-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Online)%%></td>
		<td id="tblNavMenu-Sort-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Sort)%%></td>
