<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'tblSidebarEntries_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="tblSidebarEntries-ID-<%%VALUE(ID)%%>" class="tblSidebarEntries-ID text-right"><%%SELECT%%><%%VALUE(ID)%%><%%ENDSELECT%%></td>
		<td id="tblSidebarEntries-Title-<%%VALUE(ID)%%>" class="tblSidebarEntries-Title "><%%SELECT%%><%%VALUE(Title)%%><%%ENDSELECT%%></td>
		<td id="tblSidebarEntries-Caption-<%%VALUE(ID)%%>" class="tblSidebarEntries-Caption "><%%SELECT%%><%%VALUE(Caption)%%><%%ENDSELECT%%></td>
		<td id="tblSidebarEntries-AccessionID-<%%VALUE(ID)%%>" class="tblSidebarEntries-AccessionID text-right"><%%SELECT%%><%%VALUE(AccessionID)%%><%%ENDSELECT%%></td>
		<td id="tblSidebarEntries-LinkURL-<%%VALUE(ID)%%>" class="tblSidebarEntries-LinkURL "><%%SELECT%%><%%VALUE(LinkURL)%%><%%ENDSELECT%%></td>
		<td id="tblSidebarEntries-ThumbnailID-<%%VALUE(ID)%%>" class="tblSidebarEntries-ThumbnailID text-right"><%%SELECT%%><%%VALUE(ThumbnailID)%%><%%ENDSELECT%%></td>
		<td id="tblSidebarEntries-NewDateExpiration-<%%VALUE(ID)%%>" class="tblSidebarEntries-NewDateExpiration "><%%SELECT%%><%%VALUE(NewDateExpiration)%%><%%ENDSELECT%%></td>
		<td id="tblSidebarEntries-Group-<%%VALUE(ID)%%>" class="tblSidebarEntries-Group text-right"><%%SELECT%%><%%VALUE(Group)%%><%%ENDSELECT%%></td>
		<td id="tblSidebarEntries-SortWithinGroup-<%%VALUE(ID)%%>" class="tblSidebarEntries-SortWithinGroup text-right"><%%SELECT%%><%%VALUE(SortWithinGroup)%%><%%ENDSELECT%%></td>
