<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="tblSidebarEntries-ID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ID)%%></td>
		<td id="tblSidebarEntries-Title-<%%VALUE(ID)%%>" class=""><%%VALUE(Title)%%></td>
		<td id="tblSidebarEntries-Caption-<%%VALUE(ID)%%>" class=""><%%VALUE(Caption)%%></td>
		<td id="tblSidebarEntries-AccessionID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(AccessionID)%%></td>
		<td id="tblSidebarEntries-LinkURL-<%%VALUE(ID)%%>" class=""><%%VALUE(LinkURL)%%></td>
		<td id="tblSidebarEntries-ThumbnailID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ThumbnailID)%%></td>
		<td id="tblSidebarEntries-NewDateExpiration-<%%VALUE(ID)%%>" class=""><%%VALUE(NewDateExpiration)%%></td>
		<td id="tblSidebarEntries-Group-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(Group)%%></td>
		<td id="tblSidebarEntries-SortWithinGroup-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(SortWithinGroup)%%></td>
