<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="tblUploadLogs-ID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ID)%%></td>
		<td id="tblUploadLogs-ContributorID-<%%VALUE(ID)%%>" class="text-right"><%%VALUE(ContributorID)%%></td>
		<td id="tblUploadLogs-Log-<%%VALUE(ID)%%>" class=""><%%VALUE(Log)%%></td>
		<td id="tblUploadLogs-UploadDate-<%%VALUE(ID)%%>" class=""><%%VALUE(UploadDate)%%></td>
		<td id="tblUploadLogs-IP-<%%VALUE(ID)%%>" class=""><%%VALUE(IP)%%></td>
